<div class="row">
  <div class="col-xs-12">
    <img [src]="recipe.imagePath" [alt]="recipe.name" class="img-responsive" />
  </div>
</div>
  <!-- {{recipe}} -->
<div class="row">
  <div class="col-xs-12">
    <h1>{{recipe.name}}</h1>
  </div>
</div>

<li class="nav-item dropdown" ngbDropdown>
  <a class="nav-link dropdown-toggle" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" ngbDropdownToggle>
    Link
  </a>
  <ul class="dropdown-menu open"  ngbDropdownMenu aria-labelledby="navbarScrollingDropdown">
    <li ngbDropdownItem><a class="dropdown-item" (click)="onAddToShoppingList()">To Shopping List</a></li>
    <li ngbDropdownItem><a class="dropdown-item" (click)="onEditRecipe()">Edit Recipe</a></li>
    <li ngbDropdownItem><a class="dropdown-item">Delete Recipe</a></li>
  </ul>
</li>
<!-- <div class="row">
  <div class="col-xs-12">
    <div class="dropdown open">
      <button class="btn btn-primary dropdown-toggle" type="button" id="manageRecipeDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        Manage Recipe
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="manageRecipeDropdown">
        <li><a href="#">Add the Ingredient</a></li>
        <li><a href="#">Edit the Ingredient</a></li>
        <li><a href="#">Delete the Ingredient</a></li>
      </ul>
    </div>
  </div>
</div> -->

<div class="row">
  <div class="col-xs-12">
    <ul class="list-group">
<li class="list-group-item" *ngFor="let ingredient of recipe.ingredients">
{{ingredient.name}} - {{ingredient.amount}}
</li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">Description</div>
</div>
